html{    
    overflow:hidden;
    width: 100%;
    height: 100%;}
html,body,div,span{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    max-width: 750px;
    margin: 0 auto;
    font-family: "Microsoft YaHei";
    background:#fff  url(../img/bg.png) no-repeat;
    background-size:cover;
    overflow:hidden;
    width: 100%;
    height: 100%;
}
.s_part{position: relative;top: 0rem;}
.x_part{position: relative;top: 0rem;}
.zb{position: relative;top: 0rem;}

.logo{width: 20%;display: block;margin:1rem 0 0 4%;position: relative;top: 0.8rem;height: 5%;}
.logo img{width: 100%;height: 100%}
@media screen and (width:412px) {
 .logo{margin:0rem 0 0 4%;}
}
.bt{width: 100%;display: block;margin: 0rem auto 0;z-index: 5;position: relative;top: 0rem;height: 40%;}
.bt img{width: 100%;height: 100%}
.dt{width:96%;display: block;margin:-2.7rem auto 0;z-index: 2;position: relative;top: 0rem;height: 40%;}
.dt img{width: 100%;height: 100%}
@media screen and (max-width: 320px) {
 .dt{margin:-2rem auto 0;}
}
.md{width: 92%;display: block;margin:0.2rem auto 0;height: 15%;}
.md img{width: 100%;height: 100%}

